// import basic components and fonts
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,600,700&display=swap');

// vars
$bg-pink: #ffddd5;
$bg-black: #0d1013;
$gray: #626262;

//body styles 

body {
    font-size: 14px;

    .app {
        height: 100%;
        overflow: hidden;
    }
}





// import scss modules
@import './modules/header.scss';
@import './modules/section-first.scss';
@import './modules/second-section.scss';